html {
    color: rgb(245, 208, 208);
    font-size: 1em;
    font-family: 'Rajdhani', sans-serif;
    padding:0;
    margin:0;
    background-color: #201e22;
    font-weight: 500;
    
}

.canvas-basic1{
    width: 100%;
    height: 3%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: index -99;;
}

body{
padding:0;
margin:0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 70 px;
    padding: 20px 5%;
    justify-content: space-around;
    padding-top: 1rem;
}

#menu {
    display: flex;
    flex-direction: row;
    letter-spacing: .1rem;
    font-size: 1.2em;
    text-decoration: none;
}

a:hover{
    color:rgb(176, 236, 203)
}

ul {
    display: flex;
    flex-direction: row;
}

.nav {
 margin-left:2px;
 margin-right:5px;
 padding: 1%;  
 font-size: 1.2em;
 list-style-type:none;
 text-align: center;
 border-radius: 15px;
}

.nav:hover{
    box-shadow: inset2px 2px 30px 5px purple,
}



#name {
    width: 80%;
    text-transform: uppercase;
    text-align: center;
    margin:auto
}

#bio {
    background-color: rgb(235, 210, 178);
    color:black;
    border-radius: 5px;
    padding: 3px;
    padding-left: 1%;
    padding-right:2%;
    margin:2%2%2%2%;
    font-size: 1.1em;
    color:#201e22;
    text-align: justify;
}

#bio p{
    font-size: 1.1em;
    margin-bottom: 2%;
    font-weight: 600;
    letter-spacing: .1em;
}

#bio:hover{
    filter: brightness(120%);
}

.portrait {
width:20%;
height : 20%;
flex-direction: end;
}

#competences, #exp-pro, #cursus, #loisir {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    width:90%;
    font-size: 1.2em;
}

.logo {
    width: 100px;
    margin: 2%;
    filter: brightness(80%);
}

#sql{
    width:10%;
}

.gif {
    width:15%;
    margin: 2%;
    transition: 1.5s ease-in-out;
    border-radius: 12px;
}

.gif:hover {
    transform: rotate(120deg);
}
.logo:hover{
    filter: brightness(120%);
    transform: rotate(-2deg);
}

#contact {

    display: flex;
    flex-direction: column;
    background-color: rgb(235, 210, 178);
    font-size: 1em;
    font-weight: bold;
    margin-top: 15px;
    color:rgb(66, 48, 48);
    padding-bottom: 2%;
    
}

#name h1{
    font-size: 3em;
}

h1 {
    letter-spacing: .2rem;
    text-transform: uppercase;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-name: titleColor;
    animation-duration: 2s;
}

@keyframes titleColor {
    from {color: #94b600; }
    to {color:#11b1b1; }
  }

h1, p{
    padding-left: 2rem;
    margin-bottom: 0.3em;
    margin-bottom: 0.3em;
}


#code-wars{
	margin:1%0%2%5%;
}
#liste-competence, #sites{
    padding-left: 3%;
}

#gifs {
    display: flex;
    flex-direction: row;
}
.nav a{
    cursor: grab;
    text-decoration: none;
    color:white;
    font-weight: bold;
    text-transform: uppercase;
}
a:hover{
   color:#db8e80
}

#info {
    font-size: 1.5rem;
}



.carousel-items {
    display: flex;
    overflow-x: scroll;
    padding: 1rem 0;
    scroll-snap-type: x mandatory;
}

.card{
    padding:1%;
}

.card-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.logoG{
    width:50%;
}

.card-content a {
    font-size: 2.2em;
    color: #201e22;
}

.carousel-item {
    list-style-type:none;
    flex: 1 0 300px;
    flex-direction: column;
    margin: 2%;
	padding: 1%5%1%5%;
    scroll-snap-align: start;
	border-radius: 5px;
	font-family: 'Nanum Gothic', sans-serif;
	text-align: justify;
}

.carousel-projet .carousel-item{
	background-color: rgb(235, 210, 178);
    color:black;
}

.carousel-projet .carousel-item:hover{
    filter: brightness(120%);
    color:black;
    }

.carousel-item a{
    text-decoration: none;
}



::-webkit-scrollbar-track {
    background-color: #f8c8c8;
}

::-webkit-scrollbar {
    height: 20px;
    background-color: #beffef;
}

::-webkit-scrollbar-thumb {
    background-color: #9bb40e;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover{
	background-color: rgb(9, 196, 165);
}

.scroll{
    text-align: center;
    margin-left:50%;
}


@media all and (orientation: portrait) {
    #menu {
        display: none;
    }

    p{
        font-size: 1.2em;
        margin-top: 0.2em;
        margin-bottom: 0.3em;
     }

     #name {
        font-size: 2.5em;
     }
     .portrait {
        width:50%;
        height : 50%;
        flex-direction: end;
        }
	
	    .card-title {
        font-size:2.1em;
    }

}

