html {
    color: white;
    background-color: black;
    font-size: 1em;
    font-family: 'Rajdhani', sans-serif;
    
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 70 px;
    padding: 20px 5%;
    justify-content: space-around;
    padding-top: 1rem;
}

#menu {
    display: flex;
    flex-direction: row;
    letter-spacing: .1rem;
    font-size: 0.9em;
    text-decoration: none;
}

ul {
    display: flex;
    flex-direction: row;
}

li {
 margin-left:2px;
 margin-right:5px;
 padding: 1%;  
 font-size: 1.2em;
 list-style-type:none;
 text-align: center;
 border-radius: 15px;
}

li:hover{
    box-shadow: inset2px 2px 30px 5px purple,
}



#name {
    width: 80%;
    text-transform: uppercase;
    text-align: center;
    margin:auto
}

#bio {
    background-color: antiquewhite;
    color:black;
    border-radius: 30px;
    padding: 3px;
    padding-left: 1%;
    padding-right:2%;
    margin:2%;

    font-size: 1em;
    background:#782672;
    color:white;
    box-shadow: 1px 1px 50px 0px #D14AE9;
    text-align: justify;
}

#bio:hover{
    filter: brightness(150%);
    box-shadow: 0px 5px 20px #F468EA;
}
.portrait {
width:20%;
height : 20%;
flex-direction: end;
}

#competences, #exp-pro, #cursus, #loisir {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    width:90%;
    font-size: 1.2em;
}

.logo {
    width: 100px;
    margin: 2%;
    filter: brightness(80%);
}

.gif {
    width:15%;
    margin: 2%;
    transition: 1.5s ease-in-out;
}

.gif:hover {
    transform: rotate(720deg);
}
.logo:hover{
    filter: brightness(120%);
    transform: rotate(-2deg);
}

#contact {

    display: flex;
    flex-direction: column;
    background-color: #782672;
    font-size: 1em;
    font-weight: bold;
    margin-top: 15px;
    color:white;
    padding-bottom: 2%;
    
}

h1 {
    letter-spacing: .2rem;
    text-transform: uppercase;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-name: titleColor;
    animation-duration: 3s;
}

@keyframes titleColor {
    from {color: #D14AE9; text-shadow: 0px 5px 20px #512CB9;}
    to {color:#512CB9; text-shadow: 0px 5px 30px #F468EA;}
  }

h1, p{
    padding-left: 2rem;
    margin-bottom: 0.3em;
    margin-bottom: 0.3em;
}

#liste-competence, #sites{
    padding-left: 3%;
}

#gifs {
    display: flex;
    flex-direction: row;
}
a{
    cursor: grab;
    text-decoration: none;
    color:white;
    font-weight: bold;
    text-transform: uppercase;
}
a:hover{
   color: #F468EA;
}

#info {
    font-size: 1.5rem;
}


@media all and (orientation: portrait) {
    #menu {
        display: none;
    }

    p{
        font-size: 1.2em;
        margin-top: 0.2em;
        margin-bottom: 0.3em;
     }

     details

     #name {
        font-size: 2.5em;
     }
     .portrait {
        width:50%;
        height : 50%;
        flex-direction: end;
        }

}

@media print {
    html {
        color:black;
        background-color: white;
        font-size: 1rem;
    }

    .portrait {
        width:20%;
        height : 20%;
        flex-direction: end;
        }


    header {
        height: 45 px;
        padding: 20px 5%;
    }

    .logo {
        width: 45px;
        margin: 2%;
        filter: brightness(100%);
    }

   

     #loisir {
        display: none;
        page-break-before: always;
    }
     p{
        font-size: 0.9em;
        margin-top: 0.1em;
        margin-bottom: 0.2em;
     }
     #name {
        font-size: 2.5em;
     }
     h1{
        font-size:0.9em;
        padding-left: 2rem;
        margin-top: 0.9em;
        margin-bottom: 0.9em;
        
    }
    #bio {
        color:black;
    }
    #info {
        color:black;
        font-size: 0.8rem;
    }
}